/* Basic layout */
html {
  overflow-x: hidden;
}
header, footer {
  text-align: center;
  background-color: #E9ECEF;
}
main {
  margin: 30px 0;
}
.img-fluid {
  border-radius: .25rem;
}
@media (min-width: 576px) {
  footer {
    padding: 4rem 2rem;
  }
}
@media (max-width: 576px) {
  .col-flex {
    flex-basis: auto;
  }
}

/* navbar */
.custom-navbar-wrapper {
  position: sticky;
  top: 0;
  background: #1B1B1B;
  z-index: 1020;
}
@media (min-width: 800px) {
  .custom-navbar-wrapper {
    text-align: center;
  }
  .custom-navbar {
    display: inline-flex;
  }
  .lang-navbar {
    display: block;
    margin: auto;
    justify-content: center;
    text-align: center;
  }
}

/* Make the image fully responsive (carrousel) */
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-item {
  background-color: #F4F7F9;
}

.modal-header {
  border-bottom: 1px solid #2D2E32;
}
.modal-footer {
  border-top: 1px solid #2D2E32;
}
h2, h3, h4, h5 {
  font-weight: 300;
}

/* navbar */
.custom-navbar-wrapper {
  position: sticky;
  top: 0;
  background: #1B1B1B;
  z-index: 1020;
}
@media (min-width: 800px) {
  .custom-navbar-wrapper {
    text-align: center;
  }
  .custom-navbar {
    display: inline-flex;
  }
  .lang-navbar {
    display: block;
    margin: auto;
    justify-content: center;
    text-align: center;
  }
}

/* Display images*/
.display-big-img {
  width: 100%;
  border-radius: .25rem;
}
.card[data-model] {
  cursor: pointer;
}

.img-centered{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}