---
title: Affichage
separatedTitle: Affichage
description: Découvrez l'ensemble de mes oeuvres!
---

<div class="row">

  <!-- images_L -->
  <div class="col">
    {% for image in site.static_files %}
      {% if image.path contains 'image/affichage/images_L' %}

      {% assign imageName = image.basename | split: " - " %}

        <div class="card">
          <img class="card-img-top img-thumbnail" style="width:100%" src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.name | default: Image_L }}">
          <div class="card-body">
            <h4 class="card-title">{{ imageName[0] }}</h4>
            <div class="row">
              <div class="col">
                <p align="left"><small><a href="{{ site.baseurl }}{{ image.path }}" class="btn btn-info" role="button">Voir</a></small></p>
              </div>
              <div class="col">
                <p align="right"><small>{{ imageName[2] }} € <br>Dim: {{ imageName[1] }}</small></p>
              </div>
            </div>
          </div>
        </div>

        <br>
      {% endif %}
    {% endfor %}
  </div>

  <!-- images_M -->
  <div class="col">
    {% for image in site.static_files %}
      {% if image.path contains 'image/affichage/images_M' %}
        <div class="card">
          <img class="card-img-top img-thumbnail" style="width:100%" src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.name | default: Image_M }}">
          <div class="card-body">
            <h4 class="card-title">{{ image.basename }}</h4>
            <div class="row">
              <div class="col">
                <p align="left"><small><a href="{{ site.baseurl }}{{ image.path }}" class="btn btn-info" role="button">Voir</a></small></p>
              </div>
              <div class="col">
                <p align="right"><small>{{ image.basename }} €</small></p>
              </div>
            </div>
          </div>
        </div>

        <br>
      {% endif %}
    {% endfor %}
  </div>

  <!-- images_R -->
  <div class="col">
    {% for image in site.static_files %}
      {% if image.path contains 'image/affichage/images_R' %}
        <div class="card">
          <img class="card-img-top img-thumbnail" style="width:100%" src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.name | default: Image_R }}">
          <div class="card-body">
            <h4 class="card-title">{{ image.basename }}</h4>
            <div class="row">
              <div class="col">
                <p align="left"><small><a href="{{ site.baseurl }}{{ image.path }}" class="btn btn-info" role="button">Voir</a></small></p>
              </div>
              <div class="col">
                <p align="right"><small>{{ image.basename }} €</small></p>
              </div>
            </div>
          </div>
        </div>

        <br>
      {% endif %}
    {% endfor %}
  </div>

</div>